<div id="centercon">
  <%= raw(event_calendar)%>
  <div style="float:right;padding-top:50px"><%=link_to "www.yyw.com","http://www.yyw.com",:style=>"margin-right:4px"%><%=image_tag "qrcode.png",:style=>"width:30%"%></div>
</div>
