// Place all the styles related to the Conferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  list-style-type:none;
}

.carousel ol{
  top:90%;
  right:50%;
}
.item a img{margin:0 auto;height:120px;}
#ad-h{margin-bottom:0px;z-index: 3;position: fixed;;top:40px}
#ad-l{width:10%;position:fixed;left:0;top:160px;}
#ad-l a img{width:130px;height:510px}
#ad-r{width:10%;position:fixed;right:0;top:160px;}
#ad-r a img{width:130px;height:510px}
#centercon{
  width:79%;
  float:left;
  padding-bottom:100px;
  margin:0 10%;
  padding-top: 160px;
}
.ec-body{height:698px}
.ec-rows{height:680px;}
.ec-row{height:136px;}
.ec-row0{top:0px}
.ec-row1{top:136px}
.ec-row2{top:272px}
.ec-row3{top:408px}
.ec-row4{top:544px}
#allmap{
  width: 300px;
  height:300px;
  overflow: hidden;
  margin:0;
}
.news img{
  float:left;
  margin-left: 2%;
  width:30%;
}
.rec-news-main{width: 60%;float: left;}
.rec-news{border-bottom:1px solid #d5d5d5;padding: 10px;}
.rec-news-title{border-radius: 8px;background: #E40000;text-align: center;color: white;height: 100px;height: 50px;line-height: 50px;font-weight: bold;font-size: 15pt;font-family: '微软雅黑';}
.more-code{float: right;padding-top: 50px;width: 38%;text-align: center;}
.code-text{width: 100%;}
.footbtn{
  width:15%;
}
footer{
  width:100%;
  height:40px;
  position:fixed;
  left:0;
  bottom:0; 
  background: #131313;
  z-index:3;
}
footer div{height:100%;}
footer div ul{
  margin:0;
  height:100%;
}
footer div ul li >a{
  display:block;
  height:100%;
}
footer div ul li >a:hover{
  background:#000000;
}
footer div ul li{
  text-align:center;
  width:16.66%;
  height:100%;
  float:left;
}
footer div ul li a img{
  margin-top:10px;
}

#allmap{
  width:200px;height: 200px;overflow: hidden;margin:0;float:left;
}

@media (max-width:480px){
  #centercon{padding-top:100px;padding-bottom:10px}
  thead tr{height:50px}
  .ec-body{height:270px}
  .ec-rows{height:230px;}
  .ec-row{height:46px;}
  .ec-row0{top:0px}
  .ec-row1{top:46px}
  .ec-row2{top:92px}
  .ec-row3{top:138px}
  .ec-row4{top:184px}
  footer{position:relative}

}
