.navbar .nav {
  margin: 6px 10px 0 0;
}
.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
background-color: transparent;
color: #FFF;
text-decoration: none;
}

.navbar .nav>li>a {
color: #e7e7e7;
text-decoration: none;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.search-nav{padding-left:10px;width:45%}
.nav .search-btn{margin-top:0px;margin-left:4px;width:30%;max-width:60px}
.nav li a{padding:0px;}
.navbar-inner{border:0;height:30px;background-color:red;background-image: linear-gradient(to bottom, #FF0000, #C20101);filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF0000',endColorStr='#C20101',gradientType='0');}
.logo{float:left}
.vip-btn{width:50px}
@media (max-width: 480px) {
  body {padding-top: 20px;}
  .navbar-inner{background:red;}
  .navbar-inner .container a{padding-left :5%}
  .logo{width:75px}
  .vip-btn{width:40px;}
}
