.item .container {padding-left: 70px;}
@media (max-width:480px){
  .carousel-caption h1{font-size:20px !important;}
  .carousel-caption .lead,
  .carousel-caption .btn{font-size:10px !important;padding:2px 5px;}
}
